/* general styles */


body{
	font-family:'Raleway',arial;
	font-size:16px;
	color:white;
	font-weight:400;
	letter-spacing:1px;
	background:#003153;


} 


/* header*/
 header{ 
      background:url(images/bg.jpg) center  no-repeat;
      min-height:760px;
      width:100%;
      padding:50px;
       


 }