/* general styles */


body{
	font-family:'Raleway',arial;
	font-size:16px;
	color:#fff;
	font-weight:400;
	letter-spacing:1px;
	background:#003153;


} 


/* header*/
  header{ 
      background:url(images/bg2.jpg) center  no-repeat;
      height:760px;
      width:100%;
     
        
 }
 /*mainrow*/
 .mainrow{
  background: #fff;
  height: 85px;
  border-bottom: 2px solid #2980b9;
 }


 /* navebar */

 .navbar{
 	background: 0;
 	padding: 0;
 	border: 0;

 }

 
.navbar-default .navbar-nav > .active > a,
 .navbar-default .navbar-nav > .active > a:focus,
  .navbar-default .navbar-nav > .active > a:hover {
  	background: 0;
  	color: #000;
  	 }


  	 .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover{
  		color: #2980b9;
  		float: right;
  		
  	}
    .mainmenu li a{
      font-size: 16px;
      font-weight: bold;

    }
        #mainmenu ul {float: right;}
    #mainmenu ul li{float: right;}
    .mainmenu,.mainmenu li{
      float: right;
    }
    .search{
      margin-top: 5px;
    }
    .InputForm:nth-child(1) {
      margin-bottom: 5px;
      
    }
    .afterLogin{
      margin-top: 10px;
    }
    .profile-image{
      max-height: 80px;
      max-width: 60px;
      border-radius: 5px;
      border: 2px solid #2980b9;
      float: left;
      margin-right: 10px;
      
    }
    .afterLogin a{
      text-decoration: none;
      font-size: 18px;

    }
    .logo{
      max-height: 78px;

    }